/* subnav styles */

.diameter ul.subnav li a:link#diameter, .diameter ul.subnav li a:visited#diameter, .diameter ul.subnav li a:hover#diameter {
    color: #004e7d;
    background: #f1f2f2 url( ../img/bullet-subnav-on2.gif ) no-repeat 0 0;
    display: block;
    margin: 0;
    padding: 4px 0 4px 9px;
}

ul.subnav-diameter {
    list-style: none;
    margin: 0;
    padding: 3px 0 5px 9px;
    color: #004e7d;
}

ul.subnav-diameter li {
    padding: 1px 0 1px 9px;
    background: url( ../img/bullet-subnav-products.gif ) no-repeat 0 7px;
}

ul.subnav-diameter li a:link, ul.subnav-diameter li a:visited {
    color: #004e7d;
    text-decoration: none;
}

ul.subnav-diameter li a:hover {
    color: #004e7d;
    text-decoration: underline;
}
