/* CSS Document */

body {
    text-align: center;
    font: 75% Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f1f2f2;
}

#wrapper {
    margin: 0 auto;
    text-align: left;
    width: 774px;
    background-color: #f1f2f2;
}

/* header styles */

#header {
    background: #003d5a url( ../img/banner.jpg ) no-repeat left top;
    height: 61px;
}

#header a {
    text-indent: -1000px;
    float: left;
    display: block;
    width: 308px;
    height: 61px;
    color: #f1f2f2;
}

/* content area styles */

#content {
    background: #fff url( ../img/bg-content.gif ) repeat-y left top;
    float: left;
}

#content-top {
    background: #fff url( ../img/bg-content-top.gif ) no-repeat left top;
    height: 18px;
}

img.float-left {
    float: left;
    margin: 0 10px 10px 0;
}

img.float-right {
    float: right;
    margin: 0 0 10px 10px;
}

div.float-left {
    float: left;
}

div.float-left-half {
    float: left;
    width: 198px;
}

div.float-left-3col {
    float: left;
    width: 33%;
}

div.float-right {
    float: right;
    margin: 0 0 10px 10px;
}

/* subnav styles */

#subnav-column {
    float: left;
    width: 165px;
    margin: 0 11px 0 12px;
    padding: 0 0 20px 0;
    display: inline; /* fixes double float doubled margin bug in IE */
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    color: #0090b2;
    margin: 0;
    padding: 0 0 0 9px;
}

ul.subnav {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.subnav li {
    margin: 0;
    padding: 0;
    display: inline; /* this gets rid of the gaps between list items in IE */
}

ul.subnav li a:link, ul.subnav li a:visited {
    color: #004e7d;
    background: #fff url( ../img/bullet-subnav-off2.gif ) no-repeat 0 0;
    text-decoration: none;
    display: block;
    margin: 0 0 0 9px;
    padding: 4px 0 4px 0;
}

ul.subnav li a:hover {
    color: #004e7d;
    background: #f1f2f2 url( ../img/bullet-subnav-on2.gif ) no-repeat 0 0; /*font-weight: bold;*/
    display: block;
    margin: 0;
    padding: 4px 0 4px 9px;
}

/* content column styles */

#content-column {
    width: 556px;
    float: right;
    margin: 0 20px 0 10px;
    display: inline; /* fixes double float doubled margin bug in IE */
}

#breadcrumbs {
    padding: 0 0 11px 18px;
    color: #757575;
}

#breadcrumbs a:link, #breadcrumbs a:visited {
    color: #757575;
    text-decoration: underline;
}

#breadcrumbs a:hover {
    color: #757575;
    text-decoration: none;
}

#content-column-text {
    float: left;
    width: 548px;
}

.h1-header {
    position: relative; 
    /*width: 381px;*/
    /*height: 122px;*/
}

.h1-header h1 {
    margin: 0;
    padding: 0;
    color: #013c5a; 
    /*position: absolute;*/
    /*bottom: 28px;*/
    /*right: 27px;*/
    text-align: left;
    font-size: 1.8em;
    font-weight: bold;
    font-family: "Arial Narrow", Arial, Helvetica, sans-serif; 
    /*background-color: #0091b2;*/
    /*border: darkblue solid 2px; */
}

#content-column-text h3 {
    margin: 0 19px 10px 19px;
    padding: 5px 0 10px 0;
    color: #0090b2;
    font-size: 1.0em;
    font-weight: bold;
    border-bottom: 1px solid #cfcfcf;
}

#content-column-text h4 {
    margin: 0 19px;
    padding: 8px 0 0 0;
    color: #0090b2;
    border-top: 1px solid #cfcfcf;
    font-size: 1.0em;
    font-weight: bold;
}

#content-column-text p {
    margin: 0 19px;
    padding: 0 0 10px 0;
    color: #535455;
}

#content-column-text p a:link, #content-column-text p a:visited {
    font-size: 0.9em;
    color: #757575;
    font-weight: bold;
    text-decoration: none;
}

#content-column-text p a:hover {
    font-size: 0.9em;
    color: #757575;
    font-weight: bold;
    text-decoration: underline;
}

#content-column-text li a:link, #content-column-text li a:visited {
    font-size: 0.9em;
    color: #757575;
    font-weight: bold;
    text-decoration: none;
}

#content-column-text li a:hover {
    font-size: 0.9em;
    color: #757575;
    font-weight: bold;
    text-decoration: underline;
}

.more-arrow {
    font-size: 0.9em;
}

#content-column-text ul {
    margin: 0 0 0 35px;
    padding: 0 0 10px 0;
}

#content-column-text ul li ul {
    padding: 0;
}

#content-column-text ol {
    margin: 0 0 0 42px;
    padding: 0 0 10px 0;
}

#content-column-text li {
    color: #535455;
}

#content-column p.intro-text {
    font-size: 1.0em;
    font-weight: bold;
    color: #005594;
    margin: 0 19px 0 19px;
    padding: 8px 0 10px 0;
    /*border-top: 1px solid #cfcfcf;*/
}

#content-column-text table {
    margin: 0 19px 10px 19px;
    padding: 0;
    color: #535455;
    border-bottom: 1px solid #d4d5d6;
    border-left: 1px solid #d4d5d6;
    width: 527px;
}

#content-column-text table td {
    margin: 0;
    padding: 7px;
    color: #535455;
    border-top: 1px solid #636466;
    border-right: 1px solid #d4d5d6;
}

#content-column-text table th {
    margin: 0;
    padding: 7px;
    color: #fff;
    border-top: 1px solid #43a4c0;
    border-right: 1px solid #d4d5d6;
    background-color: #0091b2;
}

#content-column-text table th.row-header {
    margin: 0;
    padding: 7px;
    color: #fff;
    border-top: 1px solid #636466;
    border-right: 1px solid #d4d5d6;
    background-color: #85bbd0;
}

#content-column-text table tr.shaded {
    margin: 0;
    padding: 7px;
    color: #535455;
    background-color: #f1f1f2;
}

#content-column-text code {
    font-size: 125%;
}

#content-column-text blockquote {
    color: #535455;
}

#footer {
    background: #0091b2 url( ../img/bg-footer.gif ) no-repeat 0 100%;
    color: #fff;
    float: left;
    border-top: 1px solid #84bacf;
    margin-bottom: 20px;
    width: 774px;
}

/* Hides from IEMac \*/
* html #footer {
    margin-bottom: 0;
}

/* removes margin-bottom in IEWin */
/* End hide from IEMac */

#footer ul {
    float: left;
    width: 45%;
    list-style: none;
    margin: 0;
    padding: 8px 0 8px 12px;
}

#footer ul li {
    display: inline;
    margin: 0;
    padding: 0 18px 0 0;
    color: #fff;
}

#footer ul li a {
    color: #fff;
    padding: 0 0 0 0;
    margin: 0;
}

#footer ul li a:link, #footer ul li a:visited {
    color: #fff;
    text-decoration: underline;
}

#footer ul li a:hover {
    color: #fff;
    text-decoration: none;
}

#footer p.copyright {
    float: right;
    width: 35%;
    padding: 0;
    margin: 8px 50px 0 0;
    display: inline;
}

/* other styles */

.hide {
    display: none;
}

.thumbnail {
    position: relative;
    z-index: 0;
}

.thumbnail:hover {
    background-color: transparent;
    z-index: 50;
}

.thumbnail span {
/*CSS for enlarged image*/
    position: absolute;
    background-color: #f1f2f2;
    padding: 5px;
    top: 0;
    left: -1000px;
    border: 1px dashed gray;
    visibility: hidden;
    color: #535455;
    text-decoration: none;
}

.thumbnail span img {
/*CSS for enlarged image*/
    border-width: 0;
    padding: 2px;
}

.thumbnail:hover span {
/*CSS for enlarged image on hover*/
    visibility: visible;
    top: -350px;
    left: 0; /*position where enlarged image should offset horizontally */
    z-index: 100;
}